<!DOCTYPE html>
<html lang="en">
<head>
	<%= @head %>
	<link href="/css/overview.css" rel="stylesheet">
	<script type="text/javascript">
		repo_name = "<%= @repo_name%>"
	</script>
</head>
<body>
	<!-- page content start -->
	<div class="wrap ink-grid">

		<!-- old browser warning -->
		<!--[if lte IE 9 ]>
		<div class="ink-alert basic" role="alert">
			<button class="ink-dismiss">&times;</button>
			<p>
				<strong>Get a better browser, son</strong>
				( <a href="http://browsehappy.com/">upgrade to a modern  browser</a> to improve your web experience, and make this page look half-decent. )
			</p>
		</div>
		<![endif]-->

		<!-- header -->
		<header class="clearfix vertical-padding">
			<!-- branding -->
			<h1 class="logo xlarge-push-left large-push-left">
				<a href="/">
					<img id="ectocat_icon" src="/img/ectocat_128x128.png"/></a>
				Project Ectocat <small class="tagline hide-tiny hide-small">Open Source Health Analytics</small>
			</h1>
			<!-- search bar -->
			<form class="ink-form xlarge-push-right large-push-right half-top-space"
					action="/search">
				<div class="control-group column-group all-push-center">
					<div class="control prepend-symbol medium-80 small-70 tiny-60">
						<span>
							<i class="fa fa-search"></i>
							<input class="dark" type="text" name="q" placeholder="Project Name">
						</span>
					</div>
					<div class="control">
						<input type="submit" class="ink-button black" id="search-button" value="Search">
					</div>
				</div>
			</form>
		</header>

			<!-- nav -->
		<section class="column-group gutters article">
			<section class="xlarge-20 large-20 medium-30 small-100 tiny-100">
				<h2>Navigation</h2>
				<nav class="ink-navigation">
					<ul class="menu vertical black">
						<li class="heading active"><a href="#">Overview</a></li>
						<li class=""><a href="#">Commits</a></li>
						<li class=""><a href="#">Issues</a></li>
						<!--<li class="disabled"><a href="#">Reddit</a></li>
						<li class="disabled"><a href="#">Mailing Lists</a></li>-->
					</ul>
				</nav>
			</section>
			<!-- main content -->
			<div class="xlarge-80 large-80 medium-70 small-100 tiny-100">
				<article>
					<header>
						<h1 class="push-left">Overview for <em><%= @repo_name%></em></h1>
						<p class="push-right">Last Update: 
							<time pubdate="pubdate"><%= @last_update%></time></p>
					</header>
					<button class="ink-button black" id="load-button"
						onclick="load_overview()">Load</button>
					<div id="content">
					</div>
					<footer>
						<!--footer content-->
					</footer>
				</article>
			</div>
		</section>
	</div>
	<footer class="clearfix">
		<div class="ink-grid">
			<ul class="unstyled inline half-vertical-space">
				<li class="active"><a href="#">About</a></li>
				<li><a href="#">Sitemap</a></li>
				<li><a href="#">Contacts</a></li>
			</ul>
			<p class="note">&copy; <a href="https://github.com/kurotetsuka">kurotetsuka</a> 2014</p>
		</div>
	</footer>
	<!-- page content end -->
</body>
</html>